html {
  background-color:#697565;
  padding: 0;
  margin: 0;
}

body {
  color:#ecdfcc;
  background-color:#3c3d37;
  width:700px;
  height:100%;
  margin:auto;
  padding:0;
  display:flex;
  flex-direction:column;
  box-shadow:0px 4px 15px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align:center;
}

#navBar {
  background-color:#181c14;
  padding:10px;
}

#navBar h1 {
  color:#ecdfcc;
  margin-right:20px;
  vertical-align:middle;
}

#navBar ul {
  list-style-type:none;
  margin:auto;
  padding:auto;
  overflow:hidden;
}

#navBar ul li {
  float:left;
  margin-right:25px;
}

#navBar ul li a {
  text-decoration:none;
  padding:10px 15px;
  color:#ecdfcc;
  border-radius:100px;
}

#navBar ul li a:hover {
  background-color:#3c3d37;
}

#theForm {
  min-width:500px;
  margin:auto;
  padding:20px;
}

#theForm label {
  display:block;
  margin-bottom:10px;
  color:#ecdfcc;
}

#theForm input,select,textarea {
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border-radius:7px;
}

#theForm textarea {
  height:50px;
}

button {
  padding: 10px 20px;
  background-color:#697565;
  color:black;
  border:none;
  border-radius:7px;
}

button:hover {
  background-color:#ecdfcc;
}

#theForm2 {
  min-width:500px;
  margin:auto;
  padding:10px;
  text-align:center;
}

#theForm2 table {
  width:100%;
  border-collapse:collapse;
}

#theForm2 th, td {
  padding:10px;
  border:1px solid #ecdfcc;
  text-align:center;
}

#result-form {
  min-width:500px;
  margin:20px auto;
  padding:10px;
  text-align:center;
}

#result-form table{
  width:100%;
  border-collapse:collapse;
  margin-bottom:10px;
}

#result-form th, td{
  padding: 8px;
  border: 1px solid #ecdfcc;
  text-align: center;
}

#result-form th{
  background-color:#697565;
  color:#ecdfcc;
}

#result-form p a{
  color:rgb(85, 85, 255);
  text-decoration:none;
}
#result-form p a:hover{
  text-decoration:underline;
}

#sign-up-form{
  min-width:400px;
  margin:20px auto;
  padding:15px;
}

#sign-up-form label{
  display:block;
  margin-bottom:10px;
  color:#ecdfcc;
}

#sign-up-form input{
  width:100%;
  padding:8px;
  margin-bottom:15px;
  border:none;
  border-radius:7px;
  font-size:14px;
}

footer{
  background-color:#181c14;
  padding:10px 0;
  text-align:center;
  font-size:14px;
  color:#ecdfcc;
  border-top:3px solid #697565;
}

footer p{
  margin:auto;
  padding:5px 0px;
}
